#game {
    display: flex;
    background-color: #107E3A;
    color: white;
}

#game div {
    align-items: center;
    justify-content: center;
}

#playground {
    width: 1000px;
    min-height: 500px;
}

#right-panel {
    margin: 20px;
}