.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container-small {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0px;
}

.player-card {
    border: 1px black solid;
    background-color: #eeeeee;
    padding: 5px;
    margin: -1px -1px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.player-winner {
    background-color: gold;
}

.player-card p {
    font-size: 0.8em;
    margin: 0.6em 0.2em;
}

.card {
    height: 6em;
    width: 6em;
    margin: 0.1em;
    font-size: 1em;
}

.card-container-small .card {
    height: 4em;
    width: 4em;
    font-size: 0.8em;
}

.card button {
    width: 100%;
    height: 100%;
    margin: 0em;
    padding: 0;
    background-color: white;
    border: 1px black solid;
}

.card-playable button {
    background-color: yellow;
}

.card-played button {
    background-color: grey;
}

.card p {
    margin: 0.1em;
}