.table {
    margin: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container-small {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0px;
    margin: 0px;
}

.player-card {
    border: 1px black solid;
    background-color: #eeeeee;
    padding: 10px 20px 20px 20px;
    margin: -1px -1px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}

.card-container-small .player-card {
    padding: 5px;

}

.player-winner {
    background-color: gold;
}

.player-card .player-name {
    font-size: 0.8em;
    margin: 0.6em 0.2em;
    display: flex;
}

.card {
    height: 6em;
    width: 6em;
    margin: 0.1em;
    font-size: 1em;
}

.card-container-small .card {
    height: 4em;
    width: 4em;
    font-size: 0.8em;
}

.card button {
    width: 100%;
    height: 100%;
    margin: 0em;
    padding: 0;
    background-color: #dddddd;
    border: 1px black solid;
    border-radius: 20%;
    cursor: not-allowed;
}

.card-playable button {
    background-color: white;
    cursor: pointer;
}

.card-trump button {
    border: 2px red solid;
}

.card p {
    margin: 0.1em;
}

.card-color {
    font-size: 2em;
}

.player-name .card-color {
    font-size: 1em;
    margin: 0 0.5em;
}